.types{
    margin-right: 85px;

    color: red;
    background-color: rgb(230, 186, 121);
}
/* h1{
    color: rgb(179, 58, 58);
    text-align: center;
    background-color: rgb(53, 215, 41);
     */
/* }   */
.price{
    
    color: red;
    background-color: rgb(192, 155, 100);
}
div{
    text-align: center;
    background-color: rgb(209, 171, 120);
    border: 20px solid chartreuse;
    box-sizing: border-box;
    font-size: 25px;
}
.top{
    
    color: red;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    background-color: rgb(176, 140, 92);
}
