body{
    background-color: rgb(82, 64, 64);
}


.header{
    background-image: url("mr\ inam\ g\ resturent.jpg");
    background-size: cover;
    height: 600px;
    background-repeat: no-repeat;

}
.header .resturent{
    color: rgba(188, 32, 37, 0.945);
    /* background-color: aqua; */
    text-align: center;
    font-weight: 300px;
    padding-top: 150px;
    font-size: 100px;
    
}
.content{
    font-size: 35px;
    text-align: center;
    font-weight: 150px;
    padding-top:75px ;
    color: whitesmoke;
}
*{
    margin: 0;
    padding: 0;
}
.link{
    background-image: url("pizza5.jpg");
     background-size: cover;
    height: 300px;
    background-repeat: no-repeat;
     display: inline-block;
    font-size: 30px;
    text-decoration: none;
    color: aliceblue;
    background-color: rgb(210, 221, 147);
    text-align: center;
     margin-bottom: 15px;
    margin-top: 30px;
    padding: 17px; 
    font-weight: bold;
    width: 300px;
    border-radius: 20%;
    top: 20px;
    

}
.pizza1{
    margin-top: 50%;
}
.link1{
     background-image: url("burger2.jpg");
     background-size: cover;
    height: 300px;
    background-repeat: no-repeat;
     display: inline-block;
    font-size: 30px;
    text-decoration: none;
    color: aliceblue;
    background-color: rgb(210, 221, 147);
    text-align: center;
     margin-bottom: -12px;
    margin-top: 30px;
    padding: 17px;
    font-weight: bold;
    width: 300px;
    border-radius: 20%;
    top: 20px;
}
.burgar1{
    margin-top: 50%;
    
}
.pizza{
    display: inline-block;
}
.Burg{
    display: inline-block;
}
.itemscontainer{
    display: flex;
    gap: 5px;
    height: 400px;
}
.link2{
     background-image: url("shworma1.jpg");
     background-size: cover;
    height: 300px;
    background-repeat: no-repeat;
     display: inline-block;
    font-size: 30px;
    text-decoration: none;
    color: aliceblue;
    background-color: rgb(210, 221, 147);
    text-align: center;
     margin-bottom: -12px;
    margin-top: 30px;
    padding: 17px;
    font-weight: bold;
    width: 300px;
    border-radius: 20%;
    top: 20px;
}
.Shworma{
     margin-top: 50%;
}
.shw{
     display: inline-block;
}
.link3{
     background-image: url("tea1.jpg");
     background-size: cover;
    height: 300px;
    background-repeat: no-repeat;
     display: inline-block;
    font-size: 30px;
    text-decoration: none;
    color: aliceblue;
    background-color: rgb(210, 221, 147);
    text-align: center;
     margin-bottom: -12px;
    margin-top: 30px;
    padding: 17px;
    font-weight: bold;
    width: 300px;
    border-radius: 20%;
    top: 20px;
}
.tea{
     margin-top: 50%;
}
.chy{
     display: inline-block;
}
.cont{
    font-size: 35px;
    text-align: left;
    font-weight: 150px;
    padding-top:75px ;
}
.pno{
    font-size: 35px;
    text-align: left;
    font-weight: 150px;
    padding-top:75px ;
}
.loc{
    font-size: 35px;
    text-align: left;
    font-weight: 150px;
    padding-top:75px ;
}
.items{
    font-size: 35px;
    text-align: left;
    font-weight: 150px;
    padding-top:75px ;

}
.food{
    font-size: 35px;
    text-align: left;
    font-weight: 150px;
    padding-top:75px ;
    color: white;
    
}
.footer{
    display: inline-block;

}

.contact{
    display: inline-block;
    margin: 15px;
    color: white;
}
.item2{
    display: inline-block;
    margin: 15px;
    color: white;
}
.join{
    display: inline-block;
    margin-left: 175px;
    color: white;
     font-size: 30px;
     text-align: left;
      padding-top:75px ;
}
.google{
    color: white;
    text-decoration: none;
    font-size: 22px;
    margin-right: 10px;
}
.youtube{
    color: white;
    text-decoration: none;
    font-size: 22px;
}
