h1{
    color: white;
    background-color: blue;
    text-align: center;
    font-size: 35px;
    padding: 10px;
    height: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 3px;
}
h1:hover{
    color: black;
}
p{
    color: yellow;
    background-color: black;
    text-align: center;
    font-size: 30px;
    padding: 15px;
    height: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
*{
    margin: 0;
    padding: 0;
}
hr{
    color: brown;
    background-color: brown;
    height: 3px;
}
.pizza{
    color: red;
    background-color: greenyellow;
    text-align: center;
    font-size: 25px;
    padding: 12px;
    height: 25px;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 3px;
}
#ptype{
    color: blue;
    background-color: aqua;
    text-align: center;
    font-size: 14px;
    padding-bottom: 30px;
    height: 20px;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 3px;

}
.berger{
    color: blue;
    background-color: greenyellow;
    text-align: center;
    font-size: 25px;
    padding: 12px;
    height: 25px;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 3px;
} 
#btype{
     color: rgb(183, 23, 23);
    background-color: rgb(71, 212, 167);
    text-align: center;
    font-size: 14px;
    padding-bottom: 30px;
    height: 20px;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 3px;

}
.black{
    color: rgb(192, 27, 93);
     background-color: greenyellow;
    text-align: center;
    font-size: 25px;
    padding: 12px;
    height: 25px;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 3px;
}
#btype{
     color: white;
    background-color: rgb(42, 160, 181);
    text-align: center;
    font-size: 14px;
    padding-bottom: 30px;
    height: 20px;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 3px;
}
.shorma{
    color: rgb(251, 248, 246);
     background-color: rgb(13, 14, 13);
    text-align: center;
    font-size: 25px;
    padding: 12px;
    height: 25px;
    font-family: 'Times New Roman', Times, serif; 22 26
    margin-bottom: 3px;
}
#stype{
     color: rgb(183, 23, 23);
    background-color: rgb(170, 181, 42);
    text-align: center;
    font-size: 14px;
    padding-bottom: 30px;
    height: 20px;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 3px;

}
.white{
    color: rgb(152, 12, 12);
     background-color: greenyellow;
    text-align: center;
    font-size: 25px;
    padding: 12px;
    height: 25px;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 3px;
}
.green{
     color: rgb(19, 99, 102);
     background-color: greenyellow;
    text-align: center;
    font-size: 25px;
    padding: 12px;
    height: 25px;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 3px; 
}
