*{
    background-color: rgb(205, 184, 144);
}
h1{
    color: rgb(47, 78, 47);
    text-align: center;
}
h3{
    color: rgb(47, 78, 47);
}
h2{
    color:  rgb(47, 78, 47);
}
p{
    color:  rgb(30, 17, 212);
}
th{
    color: blue;
}
td{
    color: brown;
}
.img{
    height: 150px;
    width: 150px;
}
.mypic{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin-left: 67%;;
}